
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="UĞUR FERFORJE" />
    <title>UĞUR FERFORJE</title>
    <link href="/Content/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="style1.css">
   <style>
       body{
           background-image:url(/Content/AnaTema/images/bg-masthead.jpg)
       }
      
       
       footer{
           background-image:url(/Content/AnaTema/images/bg-masthead.jpg)

       }
     nav{
         height:100px;
     }
       a,h1,p{ font-family:'Copperplate Gothic';
           font-size:20px;
           
       }
       .navbar-brand
       {
           font-family:'Copperplate Gothic';
       }
       #navbarSupportedContent ul a:hover{ color:firebrick;      
       }
       .card-body{
           background-image:url(/Content/AnaTema/images/bg-masthead.jpg);
       }
       .mb-0{
           color:white;
       }
       h2{
           color:white;
       }
       .py-5{
           background-image:url(/Content/AnaTema/images/bg-masthead.jpg)
       }
              
   </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
            <div class="container">
                <a class="navbar-brand" href="/Content/">UĞUR FERFORJE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Home/Anasayfa/">ANASAYFA</a></li>&nbsp;&nbsp;
                        <li class="nav-item"><a class="nav-link" href="/Home/Hakkimizda/">HAKKIMIZDA</a></li>&nbsp;&nbsp;
                        <li class="nav-item"><a class="nav-link" href="/Home/iletisim/">İLETİŞİM</a></li>&nbsp;&nbsp;
                    </ul>
                </div>
            </div>
    </nav>

    <header class="py-5">
        <div class="container">    
            <img src="~/Content/AnaTema/images/bg-masthead.jpg" width="2000" height="1000" alt="" class="img-fluid" position:absolute;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;>     
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">               
                <h1 class="display-5 fw-bold">UĞUR FERFORJE</h1>
                <p class="fs-4"> GEÇMİŞTEN GELECEĞE KALİTE İLE UĞUR FERFORJE</p>
                <a class="btn btn-primary btn-lg" href="/Home/iletisim/">BİZİMLE İLETİŞİME GEÇİN</a>
            </div>       
        </div>
   
    </header>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="m-4 m-lg-5">
                                <img src="~/Content/AnaTema/images/avize.jpg" width="2000" height="1000" alt="" class="img-fluid"> </div>                              
                                @*<h2 class="fs-4 fw-bold">AVİZE VE AKSESUAR</h2>*@
                                <p class="mb-0">FERFORJE AVİZE VE AKSESUAR EVİNİZE ŞIKLIK KATAR!</p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="m-4 m-lg-5">
                                <img src="~/Content/AnaTema/images/18.jpg" width="2000" height="1000" alt="" class="img-fluid">
                            </div>
                           
                            @*<h2 class="fs-4 fw-bold">MERDİVEN KORKULUKLARI</h2>*@
                            <p class="mb-0">FERFORJE MERDİVEN KORKULUKLARI DAYANIKLI VE SAĞLAMDIR!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="m-4 m-lg-5">
                                <img src="~/Content/AnaTema/images/kapı.jpg" width="2000" height="1000" alt="" class="img-fluid">
                            </div>
                          
                            @*<h2 class="fs-4 fw-bold">KAPI</h2>*@
                            <p class="mb-0">FERFORJE KAPI İLE EVLERİNİZ GÜVENDE!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="m-4 m-lg-5">
                                <img src="~/Content/AnaTema/images/pencere.jpg" width="2000" height="1000" alt="" class="img-fluid">
                            </div>
                           
                            @*<h2 class="fs-4 fw-bold">PENCERE KORKULUĞU</h2>*@
                            <p class="mb-0">EVLERİNİZİN GÜVENLİĞİNİ PENCERE KORKULUKLARI İLE ÜST SEVİYEYE TAŞIYIN!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="m-4 m-lg-5">
                                <img src="~/Content/AnaTema/images/masa.jpg" width="2000" height="1000" alt="" class="img-fluid">
                            </div>

                            @*<h2 class="fs-4 fw-bold">MASA VE SANDALYE</h2>*@
                            <p class="mb-0">MASA VE SANDALYELER İLE EVİNİZİ VE BAHÇENİZİ SÜSLEYEBİLİRSİNİZ.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="m-4 m-lg-5">
                                <img src="~/Content/AnaTema/images/korkuluk.jpg" width="2000" height="1000" alt="" class="img-fluid">
                            </div>

                            @*<h2 class="fs-4 fw-bold">KORKULUK</h2>*@
                            <p class="mb-0">FERFORJE KORKULUK İLE ÜST SEVİYE GÜVENLİK SAĞLAYIN.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Created by Handenur Peksöz &hearts; </p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>
</html>
