
@{
    ViewBag.Title = "Hakkimizda";
}



<div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
        <h1 class="display-5 fw-bold">UĞUR FERFORJE</h1>
        <p class="fs-4">20 YILLIK EMEK VE TECRÜBEYE DAYANAN GİDEREK GENİŞLEYEN BİR AİLEYİZ.DEMİRİ SANATA DÖNÜŞTÜREREK ÖNCELİĞİMİZ OLAN MÜŞTERİ MEMNUNİYETİN SEVGİYLE İŞLİYORUZ.</p>
    </div>
</div>

