
@{
    ViewBag.Title = "iletisim";


}


<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
       .col{
           font-family:'Copperplate Gothic';
       }
    </style>
</head>
<body>
<div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center" id="b1">
        <h1 class="display-5 fw-bold">BİZE ULAŞIN</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.825309320598!2d29.310515799999997!3d40.8318006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadc33b4cd5817%3A0x8580bda263d4e10f!2sYayla%2C%20L%C3%BCtuf%20Sk.%20No%3A51%2C%2034944%20Tuzla%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1664128217679!5m2!1str!2str" width="750" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="col">
                <i style="font-size:30px" class="fa">&#xf0e0;</i>
                <font color="black">E-MAİL</font>
                <div><font color="grey"> ugurferforje@gmail.com </font> </div>
            </div>
            <br /><br />
            <div class="col">
                <i style='font-size:30px' class='fas'>&#xf3c5;</i>
                <font color="black">ADRES</font>
                <div>
                    <font color="grey">YAYLA MAHALLESİ LÜTUF SOKAK NO:51 TUZLA/İSTANBUL</font>
                </div>
            </div>
            <br />
            <br />
            <div class="col">
                <i style="font-size:30px" class="fa">&#xf095;</i>
                <font color="black" font-weight="bold">TELEFON</font>
                <div>
                    <font color="grey">05337492592</font>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>